[submodule "implementations/graal-core"]
	path = implementations/graal-core
	url = https://github.com/graalvm/graal-core.git
[submodule "implementations/mx"]
	path = implementations/mx
	url = https://github.com/graalvm/mx.git
[submodule "implementations/TruffleMATE"]
	path = implementations/TruffleMATE
	url = https://github.com/charig/TruffleMATE.git
